<div class="page">
  <h1 class="title">Qualifikationen</h1>

  <div class="toolbar">
    <div class="search">
      <input
        class="searchInput"
        type="text"
        placeholder="Search (e.g. Java)"
        [ngModel]="searchValue()"
        (ngModelChange)="searchValue.set($event)"
      />
      <button class="searchBtn" type="button">🔍</button>
    </div>
  </div>

  <div class="list">
    @for (q of filteredQualifications(); track q.name) {

      <!-- ROW -->
      <div class="row">
        <div class="name">{{ q.name }}</div>

        <!-- avatars -->
        <div class="people">
          @for (e of q.employees.slice(0, 2); track e.id) {
            <div class="avatar">
              @if (e.avatarUrl) {
                <img [src]="e.avatarUrl" alt="avatar" />
              } @else {
                <span>{{ e.name[0] }}</span>
              }
            </div>
          }

          @if (q.employees.length > 2) {
            <div class="more">+{{ q.employees.length - 2 }}</div>
          }
        </div>

        <!-- arrow -->
        <button class="arrow" type="button" (click)="toggle(q.name)">
          {{ expandedQualification() === q.name ? '▲' : '▼' }}
        </button>
      </div>

      <!-- DETAILS -->
      @if (expandedQualification() === q.name) {
        <div class="details">
          @for (e of q.employees; track e.id) {

            <!-- CLICKABLE EMPLOYEE ROW -->
            <a class="employee" [routerLink]="['/employees', e.id]">
           <!--   <input
                type="checkbox"
                (click)="$event.preventDefault(); $event.stopPropagation()"
              />-->

              <div class="big-avatar">
                @if (e.avatarUrl) {
                  <img [src]="e.avatarUrl" alt="avatar" />
                } @else {
                  <span>{{ e.name[0] }}</span>
                }
              </div>

              <div class="employee-name">{{ e.name }}</div>
            </a>

          }
        </div>
      }

    }
  </div>
</div>
