.page {
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  margin: 12px 0 16px;
}

.back {
  text-decoration: none;
  color: #26669b;
  font-weight: 600;
}

.add-box {
  display: flex;
  gap: 8px;
  margin: 12px 0 16px;
}

.add-box input {
  flex: 1;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.add-box button {
  height: 40px;
  padding: 0 16px;
  border-radius: 10px;
  border: none;
  background: #26669b;
  color: white;
  cursor: pointer;
}

.details {
  padding: 12px 16px;
  background: #fafafa;
  border-radius: 12px;
  display: flex;
  /*justify-content: space-between;*/
}

.employee {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}

.employee:hover {
  background: #f5f5f5;
}

.big-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #eee;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.big-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee-name {
  flex: 1;
  font-weight: 600;
}

.trash {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  border-radius: 8px;
  margin-left: auto;
}


.trash:hover {
  background: #eee;
}

.empty {
  color: #666;
  padding: 8px;
}
