
.overview-button{
  background-color: var(--primary);
  /*background-color: blue;*/
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.button-wrapper{
  /*width: 75%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  margin: 0 auto;

}


.wrapper{
  width: 75%;
  margin: 0 auto;
}

h1{
  text-align: left ;
  font-size: 5rem;
  /*margin-left: -10rem;*/
  color: var(--primary);

  @media (max-width: 1000px) {

    font-size: 4rem;
    line-height: 1;
    text-align: center;

  }
}

.background{
  width: 18rem;
}

.container{
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1000px) {
    justify-content: space-between;
    flex-direction: row;
  }
}
