.claims-form {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
  @media (max-width: 450px) {
    grid-template-columns: 1fr 2fr;

  }
}

.label {
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.input:disabled {
  opacity: 1;
  background: #f6f6f6;
  color: #333;
  cursor: not-allowed;
}

.profilepic {
  background-color: var(--primary);
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;

  @media (max-width: 1200px) {
    margin: 2rem auto

  }


}

.account-wrapper {
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
